
body {
    background-color: #f8f8f8;
}
#header {
    background-color: #fff;
    height: 50px;
}
a {
    text-decoration: none;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.wrapper {
    max-width: 900px;
    height: 900px;
    margin: 80px auto 0;
    
}
.top-content {
    display: flex;
    margin-bottom: 30px;
} 
.item-img {
    width: 450px;
    height: 400px;
    margin: 10px 0;
}

.left .link {
    font-size: 0.875rem;
    color: blue;
    margin-right: 5px;
}
.right {
    padding: 20px 30px;
    margin-top: 10px;
}
.tab {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}
.input {
    width: 420px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 10px 20px;
}
textarea {
    width: 900px;
    border:1px solid #ccc;
    height: 150px;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.btns {
    display: flex;
    position: relative;
}
.delete-btn {
   
    position: absolute;
    right: 8px;
    width: 32px;
    height: 32px;
}
.back-btn,
.update-btn {
    width: 250px;
    height: 50px;
    color: #4b4b4b;
    border-radius: 5px;
    font-weight: 600;
}
.back-btn
 {
    text-align: center;
    position: absolute;
    left: 200px;
    display: block;
    background-color: #e0dfde;
    line-height: 50px;
 } 
.update-btn {
    position: absolute;
    left: 480px;
    background-color: #f5c800;
    

}
.error {
    color: red;
    margin-bottom: 15px;
}
.radio-btn {
    
    display: block;
    margin-bottom: 10px;
}
.seasons-label {
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 15px;
}
.season-text {
     margin-right: 30px;
    display: inline-block;
    font-size: 1rem;
}