
body {
    background-color: blanchedalmond;
}
#header {
    background-color: #fff;
    height: 50px;
    

}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.wrapper {
    max-width: 900px;
    margin: 80px auto;
    /* background-color: #fff; */
}
.top-content {
    display: flex;
    margin-bottom: 30px;
} 
.item-img {
    width: 450px;
    height: 400px;
}
.right {
    padding: 20px 30px;
}
.tab {
    display: block;
    margin-bottom: 10px;
}
.input {
    width: 400px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}
textarea {
    width: 900px;
    border:1px solid #ccc;
    height: 150px;
    margin-bottom: 30px;
}
.btns {
    display: flex;
    position: relative;
    
}
.delete-btn {
    text-align: right;
    position: absolute;
    right: 0;
}
.back-btn
 {
    position: absolute;
    left: 300px;
    /* right: 0; */
}
.update-btn {
    position: absolute;
    left: 500px;

}