html,body {
    height: 100%;
}
body {
    background-color: #f8f8f8;
}
#header {
    background-color: #fff;
    height: 50px;
}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.upper {
    display: flex;
    padding: 70px  40px 45px;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}
.wrapper {
    display: flex;
    padding:  40px;
    min-height: 100vh;
}
.left {
    flex-basis: 450px;
    margin-right: 50px;
}
.search-input,
.select {
    width: 450px;
    height: 50px;
    background-color: #fff;
    display: block;
    padding-left: 20px;
    margin-bottom: 20px;
}
.search-input {
    border-radius: 25px;
    border: 1px solid #e0dfde;
    line-height: 50px;
    
}
.select {
    margin-top: 20px;
    color: #4b4b4b;
   
}
option {
    color: #4b4b4b;
    font-family: 300;
}

.select-box {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0dfde;
     font-family: 300;

}
.search-btn
 {
    width: 450px;
    height: 50px;
    background-color: orange;
    margin-bottom: 40px;
    
}.tab {
    margin-bottom: 20px;
}
.reset-btn {
    width: 200px;
    margin: 20px 0;
    display: flex;
    color: orange;
    border: 1px solid orange;
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    text-align: center;
    
}
.close-btn {
    margin-left: 20px;
}
.page-title 
{
    display: inline;
    padding-right: 30px;
    width: 400px;
    font-size: 2rem;
}
.right
 {   
   flex-grow: 1;
}
.add-btn {
    background-color: #ffa929;
    color: #4b4b4b;
    width: 137px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
}
.item {
    width: 550px;
    height: 500px;
  
     margin-bottom: 70px;
}
.item img {
    width: 550px;
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;
}
.info {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 400;
}

.price {
    display: inline-block;
}

/*pagination=========================================*/
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px;
}
.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}
.pagination li:not(:last-child) {
    border-right: none;
}
.pagination a {
    text-decoration: none;
}
.pagination-link {
    text-decoration: none;
}
.active {
    padding: 4px 12px;
    border:  1px solid yellow;
    background-color: orange;
    color: #fff;
}



/*================================================*/