body {
    background-color: azure;
}
#header {
    background-color: #fff;
    height: 50px;
    

}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.upper {
    display: flex;
    /* justify-content: space-between; */
    
    padding: 0 20px;
    align-items: center;
    height: 100px;
    
}
.wrapper {
    display: flex;
    padding: 0 20px;

}
.left {
    flex-basis: 350px;
    /* height: 100vh; */
    /* padding: 0 0 50px 20px; */
    border-bottom: 1px solid #ccc;
    
    
}
.search-input,
.select {
    width: 350px;
    height: 50px;
    background-color: #fff;
    /* border: 0; */
    display: block;
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.search-btn,
.reset-btn {
    width: 350px;
    height: 50px;
    /* border: 1px solid #333; */
    background-color: orange;
    margin-bottom: 40px;
}
.reset-btn {
    width: 200px;
    margin-bottom: 20px;
    
}
.page-title 
{
    /* margin: 20px; */
    display: inline;
    padding-right: 30px;
    width: 150px;
}
.right
 {   
    /* padding: 30px 0 ; */ 
    flex-grow: 1;
    /* padding-bottom: 30px; */
    position: relative;
    
}
.add-btn {
    
    display: inline-block;
    text-align: right;
}
.item-list {
    display:flex ;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
   position: absolute;
   left: 40px;
    margin: 20px 0 ;
    
}
a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
}
.item {
    width: 450px;
    height: 400px;
    margin-left: 30px;
     margin-bottom: 90px;
}
.item img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    vertical-align: bottom;
}
.info {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
   
}
.price {
    display: inline-block;

}

/*pagination=========================================*/
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}
.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}
.pagination li:not(:last-child) {
    border-right: none;
}
.pagination a {
    text-decoration: none;
}
.pagination-link {
    text-decoration: none;
}
.active {
    padding: 4px 12px;
    border:  1px solid #8B7969;
    background-color: #8B7969;
    color: #fff;
}



/*================================================*/