html,body {
    height: 100%;
}
body {
    background-color: azure;
    
}
#header {
    background-color: #fff;
    height: 50px;
    

}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.upper {
    display: flex;
    padding: 0 20px;
    align-items: center;
    height: 100px;
    
}
.wrapper {
    display: flex;
    padding: 0 20px;
    /* margin-bottom: 50px; */
    min-height: 100vh;
    


}
.left {
    flex-basis: 450px;
    margin-right: 130px;
    
    border-bottom: 1px solid #ccc;
    
    
    
}
.search-input,
.select {
    width: 400px;
    height: 50px;
    background-color: #fff;
    /* border: 0; */
    display: block;
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.search-btn
 {
    width: 400px;
    height: 50px;
    /* border: 1px solid #333; */
    background-color: orange;
    margin-bottom: 40px;
    
}
.reset-btn {
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    color: orange;
    border: 1px solid orange;
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    text-align: center;
    
}
.close-btn {
    margin-left: 20px;
}
.page-title 
{
   
    display: inline;
    padding-right: 30px;
    width: 400px;
}
.right
 {   
   
    flex-grow: 1;
   
    /* position: relative; */
    /* margin-bottom: 80px; */
   
    
}
.add-btn {
    
    display: inline-block;
    text-align: right;
}
.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/*.item-list {
    display:flex ;
    flex-wrap: wrap;
    
    justify-content: flex-start;
  
  
    margin: 20px 0 50px;
    gap: 30px;
    
}
    */
a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
}
.item {
    width: 550px;
    height: 500px;
  
     margin-bottom: 70px;
}
.item img {
    width: 550px;
    height: 500px;
  
    object-fit: cover;
    vertical-align: bottom;
}
.info {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
   
}
.price {
    display: inline-block;

}

/*pagination=========================================*/
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    /*position: absolute;
    
    top: 100px;
    left: 0;
    right: 0;
    */
    margin: 20px;
}
.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}
.pagination li:not(:last-child) {
    border-right: none;
}
.pagination a {
    text-decoration: none;
}
.pagination-link {
    text-decoration: none;
}
.active {
    padding: 4px 12px;
    border:  1px solid #8B7969;
    background-color: #8B7969;
    color: #fff;
}



/*================================================*/