body {
    background-color: #f8f8f8;
}
#header {
    background-color: #fff;
    height: 50px;
    

}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.wrapper {
    max-width: 900px;
    margin: 80px auto;
    
}
.page-title {
    font-size: 2rem;
    margin-bottom: 40px;
}
.tab {
    display: block;
    margin-bottom: 10px;
    
}
.input {
    width: 900px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 20px;
}
.img {
    display: block;
    margin-bottom:30px ;
}
.selectable {
    color: red;
    
}

textarea {
    width: 900px;
    border:1px solid #ccc;
    height: 150px;
    margin-bottom: 30px;
    padding: 20px;
}
.back-btn,
.register-btn {
    width: 250px;
    height: 50px;
    color: #4b4b4b;
    border-radius: 5px;
    font-weight: 600;
}


.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.back-btn
 {  
    text-align: center;
    display: block;
    background-color: #e0dfde;
    line-height: 50px;
}
.register-btn {
    background-color: #f5c800;
    
}
.require {
    background-color: red;
    color: #fff;
    margin: 0 3px;
    font-size: 0.75rem;
}
.radio-btn {
    margin-right: 15px;
    display: block;
    margin-bottom: 15px;
}
.seasons-label {
    
    display: inline-block;
    margin-bottom: 25px;
}
.season-text {
     margin-right: 50px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.error {
    color: red;
    margin-bottom: 30px;
}