body {
    background-color: blanchedalmond;
}
#header {
    background-color: #fff;
    height: 50px;
    

}
#header .site-title {
    line-height: 50px;
    padding-left: 20px;
}
.wrapper {
    max-width: 900px;
    margin: 80px auto;
    /* background-color: #fff; */
}
.tab {
    display: block;
    margin-bottom: 10px;
    
}
.input {
    width: 900px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    padding: 20px;
}
.img {
    display: block;
    margin-bottom: 40px;
}
.selectable {
    color: red;
    
}
/*.radio-btn {
    margin-bottom: 20px;
    display: flex;
}
.radio {
    margin-bottom: 40px;
}
.radio-inputs {
    margin-left: 30px;
    display: inline-block;
}
.radio-inputs:first-child {
    margin-left: 0;
}
    */
textarea {
    width: 900px;
    border:1px solid #ccc;
    height: 150px;
    margin-bottom: 30px;
    padding: 20px;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 30px;
    
    
}
.back-btn
 {
    padding: 10px 30px;
    background-color: grey;

    /* position: absolute; */
    /* left: 300px; */
    /* right: 0; */
}
.register-btn {
    /* position: absolute; */
    /* left: 500px; */
    padding: 10px 30px;
    background-color: gold;
}
.require {
    background-color: red;
    color: #fff;
    margin: 0 10px;
}
.radio-btn {
    margin-right: 15px;
    display: block;
    margin-bottom: 15px;
}
.seasons-label {
    /* margin-right: 20px; */
    display: inline-block;
    margin-bottom: 25px;
}
.season-text {
     margin-right: 30px;
    display: inline-block;
}
a {
    text-decoration: none;
}